.user-id {
    cursor: pointer;
    transition: 0.2s;

    &:hover {
        color: var(--accent-color);
    }
}

.notification-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    display: flex;
    align-items: center;
    flex-direction: column;
    pointer-events: none;
}



.notification {
    background-color: rgb(83, 83, 83);
    width: fit-content;
    padding: 0.5em 1em;
    margin-bottom: 1em;
    border-radius: 10px;
    transition: 0.35s;
    color: white
}


.spinner-container {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
}

.spinner-container-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}



.aligned {
    display: flex;
    align-items: center;
}

.account-body {
    padding: 1rem;
    padding-bottom: 0;
    padding-right: 0;
    height: calc(100% - 9rem - 1px);
    width: 100%;
    display: flex;
}

.header {
    display: flex;
    align-items: center;
}

.edit-screen {
    width: calc(100% - 1rem);
}



.edit-field * {
    font-size: 1rem;
}

.edit-field input {
    outline: none;
    padding: 0.25rem;
    width: 100%;

    background-color: var(--background-light-2);
    border: 1px solid var(--background-light);
    transition: 0.2s;
    border-radius: 5px;

    &:focus {
        border: 1px solid var(--accent-color);
    }
}

.upload-or-text span:first-child {
    margin-left: 0;
    margin-right: 1rem;
}

.upload-or-text span {
    margin-left: 1rem;
    cursor: pointer;
    transition: 0.2s;

    &:hover {
        color: var(--accent-color);
    }
}


.edit-fields textarea {
    height: 20rem;
    width: calc(100% - 1rem);
    outline: none;
    transition: 0.2s;
    border: 1px solid var(--background-light-2);
    padding: 0.5rem;
    background-color: var(--background-light);
    border-radius: 5px;

    &:focus {
        border: 1px solid var(--accent-color);
    }
}

.account-body .button,
.account-body a {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 5rem;
    max-width: fit-content;
    height: 1.5rem;
    font-size: 0.95rem;
    background-color: var(--background-light-2);
    border: none;
    border-radius: 5px;
    transition: 0.2s;
    cursor: pointer;
    padding: 0 0.5rem;

    &:hover {
        background-color: var(--accent-color);
    }
}

.left {
    width: 20rem;
    border-right: 1px solid var(--background-light);
}

.right {
    padding-left: 1rem;
    width: 100%;
    overflow-y: auto;
    height: 100%;
}

.module-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
}


.module {
    flex: 0 0 25rem;
    padding: 1rem;
    border: 1px solid var(--background-light-2);
    border-radius: 5px;
    width: 25rem;
    min-height: 8rem;
}


.image {
    width: 3.75rem;
    height: 3.75rem;
    margin-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image p {
    font-size: 1.5rem;
}

.image img {
    max-width: 100%;
    max-height: 100%;
}


.module-info {
    width: calc(100% - 64px - 1rem);

}

.module-info h1 {
    font-size: 1.15rem;

}

.module-info h2 {
    font-size: 0.85rem;
    font-weight: normal;
}

.module-info p {
    font-size: 0.75rem;
    color: gray;
}


.module .button-container {
    display: flex;
}

.help-link {
    background-color: none !important;
    color: var(--accent-color)
}

.module .tag-box {
    display: flex;
    gap: 0.5rem;
    margin-top: 0.25rem;
}

.module .tag-box .tag {
    background-color: var(--background-light-1);
    border-radius: 5px;
    padding: 0 0.5rem;
    font-size: 0.8rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;

}

.metadata-container {
    font-size: 0.7rem;
    color: gray;
    display: flex;
    gap: 0.75rem;
    
}



.downloads,
.likes {
    display: flex;
    align-items: center;
}

.downloads>span,
.likes>span {
    mask-size: cover;
    mask-position: center;
    background-color: white;

    mask-image: url(../../assets/thumbs-up.svg);
    display: inline-block;

    height: 0.95rem;
    width: 0.95rem;
    margin-right: 0.2rem;
    background-color: gray;
}

.downloads>span {
    mask-image: url(../../assets/download-icon.png);
}




@media (prefers-color-scheme: light) {
    .module .tag-box .tag {
        background-color: var(--background-light);
        border-radius: 5px;
        padding: 0 0.25rem;
        font-size: 0.8rem;
    }

}