#header {
    height: var(--header-size);
    width: 100%;

    border-bottom: 1px solid var(--background-light);
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    background-color: var(--background);
    z-index: 1000;
}

.header-button-container {
    display: flex;
    width: 100%;
}

.header-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header-spacer {
    margin-right: auto;
}

.nav-button {
    box-sizing: content-box;
    margin: 0 1rem;
    transition: 0.2s;
    padding: 0.25rem 0;
    cursor: pointer;
    border-radius: 5px;
    white-space: nowrap;
    font-weight: 500;
    font-size: 1.25rem;

    &:hover {
        color: var(--accent-color);

    }
}



@media (max-width: 768px) {
    #header {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .header-button-container {
        display: flex;
        justify-content: center;
    }

    .remove-mobile {
        display: none;
    }

    .header-spacer {
        margin-right: 2rem;
    }

    .nav-button {
        margin: 0;
        padding: 0.25rem;
    }

}