#header {
    height: var(--header-size);
    width: 100%;

    border-bottom: 1px solid var(--background-light);
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    background-color: var(--background);
    z-index: 1000;
}

.header-button-container {
    display: flex;
    width: 100%;
}

.header-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.header-spacer {
    margin-right: auto;
}

.header-logo-container:hover>.nav-button {
    color: var(--accent-color)
}

.header-logo-container>.component-nexus-logo {
    background-color: var(--foreground);
    transition: 0.2s;
}

.header-logo-container:hover>.component-nexus-logo {
    background-color: var(--accent-color);
}



.nav-button {
    box-sizing: content-box;
    margin: 0 1rem;
    transition: 0.2s;
    padding: 0.25rem 0;
    cursor: pointer;
    border-radius: 5px;
    white-space: nowrap;
}

.nav-button:hover {
    color: var(--accent-color);
}


@media (max-width: 768px) {
    #header {
        flex-direction: column;
        align-items: center;
        padding-left: 1rem;
        justify-content: center;
    }

    .header-button-container {
        display: flex;
        justify-content: center;
    }
    
    .header-spacer {
        display: none;
    }

    .nav-button {
        margin: 0;
        padding: 0.25rem;
    }

}