.develop-page {
    display: flex;
    height: 100%;
}

.sidebar {
    overflow-y: auto;
    width: 20rem;
    border-right: 1px solid var(--background-light);
    padding-left: 1rem;
}

.sidebar details,
.sidebar p {
    margin: 0.5rem 0;
    cursor: pointer;

}


.sidebar code {
    background: #3d3d3d;
    padding: 0 0.3em;
    border-radius: 5px;

}

.sidebar summary {
    color: gray
}

.sidebar p {
    transition: 0.2s;

    &:hover {
        color: var(--accent-color);
    }
}



.markdown-body {
    overflow-y: auto;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 80%;
}