
.dl-left-container {
    margin-right: 10rem;
    position: absolute;
    left: 5%;
    top: 40%;
    width: 40%;
}

.dl-left-container h1 {
    font-size: 3rem;
}

.dl-right-container {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(calc(-50% + 2.5rem));
    display: flex;
    justify-content: end;
}

.sample-image {
    object-fit: cover;
    object-position: 0;
    width: 50vw;
    height: 75vh;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    clip-path: inset(1px);
}


.dl-download-button {
    height: 3rem;
    width: 10rem;

    font-size: 1.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1rem;
    cursor: pointer;
    margin-right: 1rem;
    border-radius: 10px;
    border: none;
    background-color: var(--foreground);
    color: var(--background);
}

.download-container {
    display: flex;
    flex-wrap: wrap;
}


.dl-logo {
    mask-size: cover;
    mask-position: center;
    background-color: var(--background);

    height: 1.5rem;
    width: 1.5rem;
    margin-right: 0.5rem;
}




.Windows-logo {
    mask-image: url(./windows.png);
}

.macOS-logo {
    mask-image: url(./mac.png);
}

.Linux-logo {
    mask-image: url(./linux.png);
}