

.mbody {
    display: flex;
}

.left {
    order: 0;
    flex-grow: 1;
    flex-basis: 0;
}

.right {
    order: 2;
    flex-grow: 1;
    flex-basis: 0;
}
.main {
    padding-top: 2rem;
    order: 1;
    width: 75%;
    min-width: 50%;
    background-color: var(--background-light);
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 5px;
    height: fit-content;
}
