.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
}



.feature-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;

    @media (width < 768px) {
        margin-left: 1rem;
        margin-right: 1rem;
    }


}



.feature-card {
    @media (width < 768px) {
        width: 100% !important;
    }

    flex-basis: 30%;
    background-color: var(--background-light);
    border-radius: 5px;
    padding: 1.2rem;
    box-shadow: 0 4px 12px var(--background-light);
    transition: 0.2s;
    margin: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    a {
        color: var(--accent-color);
        font-weight: bold;
    }

    &:hover {
        transform: translateY(-4px);

    }

    h3 {
        margin-bottom: 0.5rem;
        color: var(--accent-color);
    }

    p {
        line-height: 1.5;
    }
}

.nexus-logo-home {
    opacity: 0;
    animation: 0.5s ease 0.5s normal forwards 1 fade-in;
}

.title-text {
    font-size: 5rem;
    color: var(--accent-color);
    letter-spacing: 2rem;
    margin-right: -2rem;

    opacity: 0;
    animation: 0.5s ease 0.5s normal forwards 1 fade-in;
}

.nexus-desc {
    opacity: 0;
    animation: 0.5s ease 1.5s normal forwards 1 fade-in;
}

.home-buttons {
    opacity: 0;
    animation: 0.5s ease 1.5s normal forwards 1 fade-in;
}


.desc-box h1 {
    text-align: center;
    margin: 0;
    padding: 0;

}

@media (width < 768px) {
    .remove-mobile {
        display: none !important;
    }
}



.first {
    position: relative;
    display: flex;
    flex-direction: row;
    height: calc(100vh - var(--header-size));
    width: 100%;
    align-items: start;



    @media (width < 768px) {
        flex-direction: column;
    }


    .left {
        @media (width < 768px) {
            margin-top: 0;
            height: 50%;
        }

        height: calc(100vh - var(--header-size));
        width: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .title {
            display: flex;
            align-items: center;
        }
    }

    .right {
        @media (width < 768px) {
            /* display: none !important; */
            position: static;
            height: 50%;
            justify-content: center;
            align-items: baseline;


            .layer-2,
            .layer-3 {
                display: none;
            }

            .layer-1 {
                position: static !important;
                transform: unset !important;
                max-width: 100%;
            }
        }

        width: 100%;
        height: calc(100vh - var(--header-size));

        display: flex;
        align-items: center;
        position: relative;

        .home-image {
            position: absolute;
            max-height: max(25vw, 20rem);
            width: auto;
            height: auto;
            clip-path: inset(1px);
            border-radius: 2rem;
        }

        .layer-1 {
            z-index: 1;
            top: 50%;
            transform: translateY(-70%);
            right: 2.5%;
            animation: 0.25s ease 2.5s normal forwards 1 fade-in;
            opacity: 0;
        }

        .layer-3 {
            z-index: 3;
            top: 50%;
            transform: translateY(-30%);
            right: 17.5%;
            animation: 0.25s ease 2.5s normal forwards 1 fade-in;
            opacity: 0;

        }

        .layer-2 {
            z-index: 2;
            top: 50%;
            transform: translateY(-50%);
            right: 10%;
            animation: 0.25s ease 2.5s normal forwards 1 fade-in;
            opacity: 0;

        }
    }

}


.main-clickable {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 10em;
    height: 2.5em;

    margin-top: 1em;
    padding: 1em;

    border-radius: 10px;
    border: none;

    font-size: 1.25rem;

    cursor: pointer;

    background-color: var(--background-light);
    color: var(--foreground);
}




.container.fourth>p,
.container.third>h2 {
    text-align: center;
    padding: 0 3rem !important;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}


.nexus {
    mask-size: cover;
    mask-image: url("./assets/logo-no-background.svg");
    mask-position: center;
    background-color: var(--accent-color);

    height: 10rem;
    width: 10rem;
}



.container.second {
    align-items: start;
    justify-content: center;
    padding: 5rem;
    backdrop-filter: blur(0);
    height: 100vh;
}


.background-image::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: -1;

    display: block;
    background-image: url(./assets/google-calendar.png);

    background-size: cover;
    width: 100%;
    height: 100%;

    filter: blur(5px);
}


.container.second h1 {
    font-size: 4rem;
    width: 100%;
    color: #ededed;
}

.container.second p {
    font-size: 1.75rem;
    max-width: 75vw;
    color: #ededed;

}

.container.fourth>p {
    font-size: 1.5rem;
    padding: 0.5rem 0;

}

@media (max-width: 768px) {


    .container {
        margin-bottom: 10rem;
    }

    .container.second {
        align-items: center;
        justify-content: center;
        text-align: center;
        backdrop-filter: blur(0);
        padding: 0
    }

    .container.second p {
        max-width: 95%;
    }

    .feature-grid {
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;

    }

    .feature-card {
        width: 75%;
    }
}