
#nexus-root {
    box-sizing: border-box;
}




#nexus-root h1,
#nexus-root h2,
#nexus-root h3,
#nexus-root h4,
#nexus-root p {
    margin: 0;
    padding: 0;

}


.fade1 {
    animation: 1s ease 0s normal forwards 1 fade-in;
}

.fade3 {
    animation: 3s ease 0s normal forwards 1 fade-in;
}

.fade-out {
    animation: 0.25s ease forwards fade-out;
}

#nexus-root #center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

#nexus-root > h1 {
    font-size: 5em;
}

#nexus-root > h2 {
    text-align: center;
}

#nexus-root button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.25s;

    
}

#nexus-root .nav-button {
    margin: 0 1em
}


.nexus {
    mask-size: cover;
    mask-image: url("./assets/logo-no-background.svg");
    mask-position: center;
    background-color: #2290B5;

    height: 10em;
    width: 10em;

}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

@keyframes fade-in {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    66% {
        transform: translateY(-100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}