.page {
    height: calc(100% - var(--header-size) - 5.5rem - 1px);
}

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

}

.body {
    padding: 0 1rem;
    height: 100%;
}

.search-container {
    display: flex;
    align-items: center;

    button {
        min-width: 5rem;
        max-width: fit-content;
        height: 1.5rem;
        font-size: 0.95rem;
        background-color: var(--background-light-2);
        border: none;
        border-radius: 5px;
        transition: 0.2s;
        cursor: pointer;
        padding: 0 0.5rem;

        &:hover {
            background-color: var(--accent-color);
        }
    }

    input {
        font-size: 1rem;
        outline: none;
        transition: 0.2s;
        border-radius: 5px;
        border: 1px solid var(--background-light-2);
        background-color: var(--background-light);
        padding: 0.5rem 1rem;
        margin-top: 0.25rem;
        width: 20rem;

        &:focus {
            border: 1px solid var(--accent-color);
        }
    }

    .sort-container {
        display: flex;
        align-items: center;

        select {
            font-size: 1rem;
            outline: none;
            transition: 0.2s;
            border-radius: 5px;
            border: 1px solid var(--background-light-2);
            background-color: var(--background-light);
            padding: 0.25rem 0.5rem;
            width: 20rem;

            &:focus {
                border: 1px solid var(--accent-color);
            }
        }

        option {
            font-size: 1rem;
        }
    }

    .searchbar {
        display: flex;
        align-items: center;

        .clear-search {
            position: absolute;
            right: 0.5rem;
            bottom: 50%;
            transform: translateY(50%);
            cursor: pointer;
            transition: 0.2s;
            padding: 0.25rem;

            &:hover {
                color: var(--accent-color);
            }
        }
    }

}






.mp-header {
    .username {
        color: gray;
        margin-right: 1.5rem;
        font-size: 0.8rem;
    }

    .mp-header-content {
        background-color: var(--background-light);
        height: calc(4rem + 1px);
        display: flex;
        align-items: center;
        padding: 0 1rem;
        position: absolute;
        width: 100%;
        z-index: 1000;
    }

    .mp-header-content h2,
    .mp-header-content p,
    .mp-header-content a {
        transition: 0.2s;

        &:hover {
            color: var(--accent-color)
        }
    }
}






.module-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

    .module {
        display: flex;
        align-items: center;
        position: relative;
        border: 1px solid var(--background-light-2);
        border-radius: 5px;
        flex: 0 0 30rem;

        height: 8rem;
        width: 30rem;

        .module-info-container {
            width: calc(100% - 4rem - 2rem - 1rem);
            position: relative;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h4 {
                font-weight: 400;
                font-size: 0.9rem;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;

            }

            .desc {
                font-size: 0.8rem;
                color: var(--foreground-light)
            }

        }


        .extra-info-wrapper {
            display: flex;
            font-size: 0.7rem;
            color: gray;
            position: absolute;
            bottom: 0;
            width: 100%;

            .info-left {
                position: absolute;
                bottom: 0;
                left: 0;
                padding-bottom: 0.15rem;
                padding-left: 0;
                display: flex;
                align-items: center;
                gap: 0.75rem;
            }

            .info-right {
                position: absolute;
                bottom: 0;
                right: 0;
                padding-bottom: 0.15rem;
            }


            .downloads,
            .likes {
                display: flex;
                align-items: center;

                &>span {
                    mask-size: cover;
                    mask-position: center;
                    background-color: white;

                    mask-image: url(../assets/thumbs-up.svg);
                    display: inline-block;

                    height: 0.95rem;
                    width: 0.95rem;
                    margin-right: 0.2rem;
                    background-color: gray;
                }
            }


            .downloads>span {
                mask-image: url(../assets/download-icon.png);
            }
        }




        .tag-container {
            display: flex;
            gap: 0.5rem;
            margin-top: 0.3rem;

            p {
                background-color: var(--background-light-1);
                border-radius: 5px;
                padding: 0.075rem 0.5rem;
                font-size: 0.85rem;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
                color: gray
            }
        }

        .module-image-container {
            margin: 1rem;
            min-width: 4rem;
            width: 4rem;
            height: 4rem;

            img {
                width: 100%;
            }

            .module-abbreviation {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                font-size: 2rem;
            }
        }


    }

}







.clickable {
    cursor: pointer;
}

.clickable-text {
    cursor: pointer;
    transition: 0.2s;
    width: fit-content;


    &:hover {
        color: var(--accent-color);
    }
}






@media (max-width: 768px) {
    .search-container {
        flex-direction: column;
        align-items: start;
    }

    .searchbar {
        margin-bottom: 1rem;
    }

    .module-container {
        display: block;
    }

    .module {
        width: 100% !important;
        margin-bottom: 1rem;
        
    }


    .module-info-container {
        width: calc(100% - 4rem);
    }
}