
.main>input {
    width: 100%;
}

#module-container {
    display: flex;
    flex-wrap: wrap;
}

.module {
    display: flex;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid var(--foreground);

}

.module-image-container {
    margin: 1em;
    width: 64px;
    height: 64px;
}


.module-info-name {
    transition: 0.2s;
}

.module:hover .module-info-name {
    color: var(--accent-color);
}


.module-image-container>img {
    width: 100%;
}

.clickable {
    cursor: pointer;
}

.module-info-container h4 {
    font-weight: 400;
}   

.module-abbreviation {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 2rem;
}


@media (min-width: 576px) {
    .main {
        max-width: 540px;
    }
}
@media (min-width: 768px) {
    .main {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .main {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .main {
        max-width: 1140px;
    }
}



