.mbody {
    display: flex;
}

.left {
    order: 0;
    flex-grow: 1;
    flex-basis: 0;
}

.right {
    order: 2;
    flex-grow: 1;
    flex-basis: 0;
}

.main {
    padding-top: 2rem;
    order: 1;
    width: 75%;
    min-width: 50%;
    background-color: var(--background-light);
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 5px;
    height: fit-content;
}

.extra-info {
    width: 100%;
    font-size: 1rem;
    color: gray

}

.extra-info span {
    margin-right: 1rem;
    width: 10rem;
    display: inline-block;
}


.tag-container {
    display: flex;
    gap: 0.5rem;
}

.tag-container p {
    background-color: var(--background-light-2);
    border-radius: 5px;
    padding: 0.075rem 0.5rem;
    font-size: 0.85rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-top: 0.5rem;
    height: 1.2rem;
}



.spinner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-top: -5rem;
}


.readme {
    padding: 1em;
    height: 100%;
    background-color: var(--background);
    border-radius: 5px;
}

.readme>* {
    width: 100%;
}





.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 1em;
    margin-right: 2em;
    position: relative;
}

.image-container p {
    width: 128px;
    font-size: 64px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.module-link {
    height: 2.5rem;
    width: 33%;
    font-size: 1.25rem;
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0.5em;
    transition: 0.2s;
    border: 1px solid rgb(36, 36, 36);
    border-radius: 5px;
    background-color: rgb(78, 78, 78);
    color: white;
    font-weight: 400;
    cursor: pointer;

    &:hover {
        border-color: var(--accent-color);
    }
}




.logo {
    mask-size: cover;
    mask-position: center;
    background-color: white;

    height: 1em;
    width: 1em;
    margin-right: 0.5em;
}

.nexus-logo {
    mask-image: url("../../assets/logo-no-background.svg");
}

.git-logo {
    mask-image: url("./github-logo.png");
}

.download-logo {
    mask-image: url("../../assets/download-icon.png");
}

#button-container {
    display: flex;
}

#button-container>.module-link {
    margin-right: 5px;
}

.shimmer {
    color: grey;
    mask: linear-gradient(-60deg, #000 30%, #0005, #000 70%) right/350% 100%;
    animation: shimmer 2.5s infinite;
}

@keyframes shimmer {
    100% {
        mask-position: left
    }
}


.skeleton-box {
    background-color: gray;
    border-radius: 5px;
}



@media (max-width: 768px) {
    #button-container {
        flex-direction: column;
    }

    .module-link {
        width: 100%;
    }


    .left {
        display: none;
    }

    .right {
        display: none;
    }

    .main {
        width: 100%;
    }

}